{% extends "registration/base_login.html" %}
{% load bootstrap3 %}
{% block cabecalho %}
<link href="{{ STATIC_URL }}css/kicash.css" rel="stylesheet">
{% endblock %}
{% block corpo %}

<div class="row">
  <div class="container">
    <div class="space-6"></div>
      <h4 class="header black lighter bigger">
        Recuperar senha
      </h4>
      <div class="space-6"></div>
      <p>
        As informações para recuperação de sua senha foram enviadas para o seu e-mail.
      </p>
    </div>
    <div class="toolbar center">
      <a href="{% url 'login' %}" class="back-to-login-link">
        Voltar para tela de login
      </a>
    </div>
  </div>
</div>

{% endblock %}
